- content_for :subtitle do
  Project Updates

.relationships
  .row
    .wkrheader
      .span6
        .wkrtitle Project Check-ins
        %hr/
        .feed
          - @startups.each do |s|
            - checkin = @checkins_by_startup[s.id]
            - next if checkin.blank?
            - owner = (@startup && (s.id == @startup.id)) ? true : false
            .item.checkin
              .header
                .right.time= time_for_conversation(checkin.completed_at.present? ? checkin.completed_at : checkin.updated_at)
                .left
                  .left.pics
                    = image_tag s.logo_url(:small)
                    - if @users_by_startup_id[s.id].present?
                      - @users_by_startup_id[s.id].shuffle.each do |tm|
                        = image_tag(user_avatar_url(tm), :title => tm.name)
                  .left.headline
                    %h4
                      Project #{s.name}
                      - if checkin.accomplished?
                        Accomplished Their Goal!
                      - else
                        Posted Their Progress
                  .clear
                .clear
              .body
                .left.video= display_checkin_video(checkin, :video, false, 320, 193).html_safe
                .left.goals
                  .goal_wrapper
                    %p This Week's Goal
                    .left.goal_state= image_tag checkin.accomplished? ? 'goal_accomplished.png' : 'goal_missed.png'
                    .left.goal= checkin.goal
                    .clear
                  .goal_wrapper
                    %p Next Week's Goal
                    .left.in_progress.goal_state
                      .box
                    .left.goal= checkin.next_week_goal
                    .clear
                .clear
                .right.action_buttons
                  - if owner
                    .left= link_to 'Respond to Feedback', startup_checkin_path(s, checkin), :class => 'btn btn-success'
                  - elsif @commented_on_checkin_ids.include?(checkin.id)
                    .left= link_to '<i class="icon icon-ok"></i> Feedback Given'.html_safe, startup_checkin_path(s, checkin), :class => 'btn'
                  - else
                    .left= link_to 'View', startup_checkin_path(s, checkin), :class => 'btn'
                  - if checkin.completed?
                    .left!= render_awesome_button(checkin)
                  .clear
                .left
                  .awesome_comment_count
                    %p= awesome_comment_count_summary(checkin)
                  .participants
                    - participants = checkin.participants
                    - participants.first(5).each do |p|
                      .left= link_to image_tag(p.pic_url(:small)), p, :title => p.name, :alt => p.name
                    - if participants.size > 5
                      .left.others
                        + #{participants.size - 5}
                        %br/
                        more
                    .clear
                .clear
      - if current_user.entrepreneur? && current_user.startup_id.present?
        - startup = current_user.startup
        .span6
          - next_checkin_ends_at = Checkin.next_window_for(startup.checkin_offset).last
          .countdown
            - current_checkin = startup.current_checkin
            .wkrheader
              .wkrtitle Your Goals
              %hr/
            - if current_checkin.present?
              - if Checkin.in_time_window?(startup.checkin_offset)
                .right.time_left= hours_minutes_until(next_checkin_ends_at)
              .left.team_details
                .week #{startup.name}
                - startup.team_members.shuffle.first(3).each do |tm|
                  .team_member.left= image_tag tm.pic_url(:small)
              .left.goal_details
                .week #{current_checkin.time_label}:
                .goal #{current_checkin.goal}
              .clear
              .timeline
                .nav
                  .navbar
                    .navbar-inner
                      %ul.nav
                        - 6.downto(1) do |i|
                          - at = next_checkin_ends_at - (i + 1).days
                          - past = Time.current > at
                          %li.day{:class => past ? 'past' : 'future'}= link_to at.strftime('%A'), '#'
                        %li.day= link_to '', '#'
                      .progress
                        .bar{:style => "width: #{Checkin.pct_complete_week(startup.checkin_offset)}%;"}
                      .checkin_btn
                        /- if Checkin.in_time_window?(startup.checkin_offset)
                        - if current_checkin.present? && current_checkin.completed?
                          = link_to 'View Checkin', current_checkin, :class => 'btn btn-large btn-info'
                        - else
                          .active= link_to 'Post Update', edit_startup_checkin_path(startup, current_checkin), :class => "btn btn-large btn-warning"
                       
            - else
              = link_to 'Set Goal', new_checkin_path, :class => 'btn btn-large btn-success'
          .countdown_separator


- if @checkin_completed == true
  #checkin_completed.modal.hide
    .modal-body.center{:align => 'center'}
      - if @number_of_consecutive_checkins > 1
        %p You have completed #{@number_of_consecutive_checkins} consecutive checkins.
      - else
        %p You have completed your checkin.
      .right{:style => 'margin-right: -15px'}= image_tag 'hand_silhouette.png', :width => 270, :height => 220
      .right{:style => 'width: 250px; height: 270px; position: relative;'}
        %div{:style => 'position: absolute; top: 30%; right: 30%; height: 270px;'}
          %h2{:style => 'font-size: 50px; line-height: 50px'}
            Way to
            %br/
            do it!
      .clear
      %a.btn.btn-success.btn-large{:href => '#', 'data-dismiss' => 'modal'} Keep Working
  :javascript
    $('#checkin_completed').modal();